.header{
  #head-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    img {
      margin: auto;
    }
  }
  #head-text {
    display: flex;
    justify-content: center;
    padding-top: 0;
    h1 {
      font-size: .8em;
      margin: 0 auto;
      width: 70%;
      text-align: center;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    #head-icon {
      display: flex;
      padding-bottom: 1em;
      align-items: center;
      padding-top: 2em;
      img {
        vertical-align: middle;
      }
    }
    #head-text {
      padding-top: 1em;
      h1 {
        font-size: 1em;
      }
    }

  }
}
