
section.intro {
  #intro-img {
    justify-content: center;
    padding: 0 auto;
    img {
      @include border-radius(50%);
      width: 70%;
      margin: 0 12%;
      border: 10px solid $orange;
    }
  }
  #intro-text {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  section.intro {
    display: flex;
    #intro-img {
      height: 100%;
      img {
        width: 90%;
        vertical-align: middle;
        margin-left: 2.5%;
      }
    }
  }
}
