
section.intro {
  #intro-img {
    justify-content: center;
    padding: 0 auto;
    img {
      @include border-radius(50%);
      width: 70%;
      margin: 0 14%;
      border: 10px solid $purple;
    }
  }
  #intro-text {
    padding-top: 0;
    padding-bottom: 0;
    h2 {
      color: $gray;
      border-top: 3px solid $purple;
      font-size: 2em;
      text-align: left;
    }
    p {
      width: 80%;
      font-size: 1.25em;
    }
  }
}
@media screen and (min-width: $breakpoint-medium) {
  section.intro {
    display: flex;
    #intro-img {
      height: 100%;
      img {
        width: 90%;
        vertical-align: middle;
        margin-left: 2.5%;
        margin-top: 1.3rem;
      }
    }
    #intro-text {
      font-size: 1.4em;
    }
  }
}
@media screen and (min-width: $breakpoint-large) {
  section.intro {
    #intro-text {
      font-size: 2em;
      p {
        font-size: 2.5rem;
      }
    }
  }
}
