//color variables
$gray: rgba(57, 62, 65, 1);
$blue: rgba(57, 162, 174, 1);
$purple: rgba(123, 75, 148, 1);
$off-white: rgba(219, 219, 219, 1);
$green: rgba(156, 197, 161, 1);
$black: rgba (0, 0, 0, 1);



$main-font:'Cormorant Garamond', serif;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
$grid-columns: 12;




/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
